<div class="center">
    <!-- qui non c'è una variabile creata nela pagina del controller, questo in quanto all'inizio dell pagina del controller c'è il before_action. quello vuol dire che prima di fare tutto, quindi prima di fare partire l'index, devi fare quella funzione, ossia la funzione set content e lo devi fare per le funzioni dopo l'only, ossia lo show edit update e destroy. Cos'è set content? Questa funzione si ritrova alla fine della pagina del controller dove dice che l'azione set content crea una variabile @content che è uguale al content.find (params [:id]) , e vuol dire vai nella cartella contenuti e vai a trovare quella riga che ha l'id di riferimento. Difatti quando siamo su show viene richiamato l'id. E queto verrà fatto anche per gli altri destroy ecc -->

        <p id="notice"><%= notice %></p>
<br>

<%= image_tag @content.cover.url(:medium) %>
        <p>
          <strong>Titolo:</strong>
          <%= @content.titolo %>
        </p>

        <p>
          <strong>Descrizione:</strong>
          <%= @content.descrizione %>
        </p>

        <p>
          <strong>Prezzo:</strong>
          <%= @content.prezzo %>
        </p>
<% if @content.user == current_user  %>
    
        <%= link_to 'Modifica', edit_content_path(@content) %> 
    <br>
    <br>
<% end %>    
    
        <%= link_to 'Indietro', contents_path %>
    <br>
    <br>
</div>