<div class="container">
    <!-- qui non c'è una variabile creata nela pagina del controller, questo in quanto all'inizio dell pagina del controller c'è il before_action. quello vuol dire che prima di fare tutto, quindi prima di fare partire l'index, devi fare quella funzione, ossia la funzione set content e lo devi fare per le funzioni dopo l'only, ossia lo show edit update e destroy. Cos'è set content? Questa funzione si ritrova alla fine della pagina del controller dove dice che l'azione set content crea una variabile @content che è uguale al content.find (params [:id]) , e vuol dire vai nella cartella contenuti e vai a trovare quella riga che ha l'id di riferimento. Difatti quando siamo su show viene richiamato l'id. E queto verrà fatto anche per gli altri destroy ecc -->

        <p id="notice"><%= notice %></p>
<br>
<div class="row">

    <div class="col l6">
          <%= image_tag @content.cover.url, class: "responsive-img mostra-immagine" %>
    </div>
    <div class="col l6">
                  <h2 class="mostra_titolo">
                          
                          <%= @content.titolo %>
                  </h2>
                  <h5>
                          <%= number_to_currency (@content.prezzo) %>
                  </h5>

                  <p>
                          Venduto da 
                          <%= @content.user.nome %>

                  <p>
                          
                          <%= @content.descrizione %>
                  </p>

      </div>
<% if @content.user == current_user  %>
  
      <%= link_to 'Modifica annuncio', edit_content_path(@content) %> 
  <br>
  <br>
<% end %>    
  
      <%= link_to 'Torna agli annunci', contents_path %>
    <br>
    <br>
</div>